# Object files
*.o
*.ko
*.obj
*.elf
bin/
build/
zip/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.gcov

# Latex files
*.aux
*.toc
*.lof
*.lol
*.lot

# Doxygen-generatd files
doc/doxygen

# EMacs backup files
*~
/doc/faq/FAQ.log
/doc/faq/FAQ.synctex.gz
/doc/req/UserRequirements.log
/doc/req/UserRequirements.synctex.gz
/doc/um/UserManual.log
/doc/um/UserManual.synctex.gz
/doc/fwprofile/FWProfile.log
/doc/fwprofile/FWProfile.synctex.gz
/doc/faq/latex_faq.log
/doc/fwprofile/latex_fwprofile.log
/doc/req/latex_user_requirements.log
/doc/um/latex_user_manual.log
